# **1 - What are data structures, and why are they important?**

  - Data structures are specialized formats used for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
  - Importance of data structures
    - Right data structure can significantly improve the efficiency & performance of your program.
    - Simplify data manipulation
    - Optimize searching and sorting operations
    - Conserve memory usage

# **2 - Explain the difference between mutable and immutable data types with examples.**

 - We can manipulated mutable data types like adding , removing, etc.
  - eg list, dictionary
  - We cannot manipulate immutable data types
  - eg string , tuples.

# **3 - What are the main differences between lists and tuples in Python ?**

  - Lists are mutable data type.
  - Lists are versetile for storing data that can change.
  - Tuples  are immutable data type.
  - Tuples are used for storing fixed datasets.

# **4 - Describe how dictionaries store data.**

  - Dictionaries stores data in key value pairs
  - Dictinories are ordered collection of data
  - Dictionaries are mutable.
  - eg mydict = {"name" : "aman"}

# **5 - Why might you use a set instead of a list in Python.**

  - Sets do not show duplicate values .
  - Sets are usefull for checing memberships
  - sets are also usefull for finding intersectiong/differnce of sets.
  - for eg if you are making a program for shopping list you dont want duplicate values then it better to use set instead of list.

# **6 - What is a string in Python, and how is it different from a list.**
  
  - strings are set of characters.
  - String is immutable.

# **7 - How do tuples ensure data integrity in Python.**

  - Tuples are ordered immutable collection of elements.
  - As we cannot change elements in tuples data stored in tuples are fixed datasets
  - Tuple provides a secure way to store data than should not be modified.

# **8 - What is a hash table, and how does it relate to dictionaries in Python.**

  - Hash table is a data structure that maps keys to values using hash function.
  - Hash function determine where to store value of key.

# **9 - Can lists contain different data types in Python?**

  - Yes , List can contain different data types in Python.

# **10 - Explain why strings are immutable in Python.**

  - Strings are immutable because we cannot modify string in python.
  - Strings are stored in unchaneable order.

# **11 - What advantages do dictionaries offer over lists for certain tasks?**

  - Using dictionaries you can get any value stored in dictionaries by their respective key while in list you have to check the index number of the item to access it.
  - Dictionaries dont allow dupicate keys.

# **12 - Describe a scenario where using a tuple would be preferable over a list.**

  - If you are creating a program for storing employe id so in this scenario tuple is preferable over list as employe id is a fixed dataset.

# **13 - How do sets handle duplicate values in Python.**

  - sets are unorderd collection of unique elements.
  - set ignores the duplicate values.
  - eg a = (1,2,1,3,4,5)
  - print (a)
  - output: (1,2,3,4,5)

# **14 - How does the “in” keyword work differently for lists and dictionaries.**

  - In list the "in" keyword checks if the value exists in the list and give Boolean value
  - In dictionaries the "in" keywrd check if the key exists in the dictionaries and give Boolean value
  - If you want to check values in a dictionary, you need to be more specific
  for eg . print("Alice" in person.values())

# **15 - Can you modify the elements of a tuple? Explain why or why not.**

  - No, you cannot modify the elements of a tuple because tuple is immutable data type.
  - tuple has fixed value dataset which we cannot modify.

# **16 - What is a nested dictionary, and give an example of its use case.**

  - A nested dictionary is a dictionary inside another dictionary .
  for eg, emp = {"emp1" : {"Name": "xyz" , "Age":21 }, "emp2" : {"Name": "abc" , "Age":23 }
  - Nested dictionary is used when you need to organize data  hierarchically

# **17 -Describe the time complexity of accessing elements in a dictionary.**

  - In dictionary data is stored using hashtable that help in constant time effeciency .
  _ For Retrieval , insertion & deletion of data , first the key is hashed then it locates where the data is stored and then it retrives , inserts or delets the data .  This takes constant time on average

# **18 - In what situations are lists preferred over dictionaries.**

  - When you want to store data in order and sequence.
  - When you need to store  duplicate data.
  - When you want to access data using index number.

# **19 - Why are dictionaries considered unordered, and how does that affect data retrieval?**

  - Data in dictionary is stored using hash table .
  - When you store data in key value pair python hashes the key determines where the value should be stored.
  - Dictionaries focuses on fast lookup.
  - Data retrieval is easy in dictionaries as you dont have to search on which index number the data is stored which you want to access.

# **20 - Explain the difference between a list and a dictionary in terms of data retrieval.**

  - Data retieval in list is done using Index numbers.
  - Data retieval in Dictionaries is done using Hash table.

In [1]:
# 1 - Write a code to create a string with your name and print it

Name = "AMAN"
print(Name)

AMAN

In [2]:
# 2 - Write a code to find the length of the string "Hello World"

a = "Hello World"
print(len(a))

11

In [4]:
# 3 Write a code to slice the first 3 characters from the string "Python Programming".

b = "Python Programming"
print(b[:3])

Pyt

In [8]:
# 4 Write a code to convert the string "hello" to uppercase.

c = "hello"
print(c.upper())

HELLO

In [9]:
# 5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

d = "I like apple"
d.replace("apple","orange")

'I like orange'

In [11]:
# 6 Write a code to create a list with numbers 1 to 5 and print it

numbers = [1,2,3,4,5]

print(numbers)

[1, 2, 3, 4, 5]

In [12]:
# 7 Write a code to append the number 10 to the list [1, 2, 3, 4].

f = [1,2,3,4]
f.append(10)
print(f)

[1, 2, 3, 4, 10]

In [14]:
# 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

e = [1,2,3,4,5]
e.remove(3)
print(e)

[1, 2, 4, 5]

In [15]:
#  9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

g = ['a', 'b', 'c', 'd']
print(g[1])

b

In [16]:
# 10 Write a code to reverse the list [10, 20, 30, 40, 50].

rev = [10, 20, 30, 40, 50]
print(rev[::-1])

[50, 40, 30, 20, 10]

In [19]:
 # 11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

 tpl = (100 ,200, 300)
 print(tpl)
 print(type(tpl))

(100, 200, 300)
<class 'tuple'>

In [20]:
# 12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tpl1 = ('red', 'green', 'blue', 'yellow')
print(tpl1[-2])

blue

In [21]:
# 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15) .
tpl2 = (10,20,5,15)
print(min(tpl2))

5

In [22]:
# 14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tpl3 = ('dog', 'cat', 'rabbit')
print(tpl3.index("cat"))

1

In [23]:
 # 15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

 tpl4 = ("apple","banana","kiwi")
 print("kiwi" in tpl4)

True

In [24]:
# 16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {"a","b","c"}
print(s)

{'a', 'b', 'c'}

In [28]:
# 17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s1 = {1, 2, 3, 4, 5}
s1.clear()
print(s1)

set()

In [29]:
# 18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s2 = {1,2,3,4}
s2.remove(4)
print(s2)

{1, 2, 3}

In [31]:
# 19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

s3 = {1, 2, 3}
s4 = {3, 4, 5}
print(s3.union(s4))

{1, 2, 3, 4, 5}

In [32]:
# 20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s5 = {1, 2, 3}
s6 = {2, 3, 4}
print(s5.intersection(s6))

{2, 3}

In [33]:
# 21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it

dct = {"name": "aman" , "age": 21 , "city": "mumbai"}
print(dct)

{'name': 'aman', 'age': 21, 'city': 'mumbai'}

In [34]:
# 22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dct1 = {'name': 'John', 'age': 25}
dct1["country"] = "USA"
print(dct1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
# 23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dct2 = {'name': 'Alice', 'age': 30}
print(dct2["name"])

Alice

In [36]:
# 23 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dct3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dct3.pop("age")
print(dct3)

{'name': 'Bob', 'city': 'New York'}

In [37]:
# 24  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dct4 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dct4)

True

In [38]:
# 25 Write a code to create a list, a tuple, and a dictionary, and print them all.

lst = [1,2,'abc']
tl = {1,2,'abc'}
dct5 = {"name": "aman" , "age": 21 , "city": "mumbai"}
print(lst)
print(tl)
print(dct5)

[1, 2, 'abc']
{1, 2, 'abc'}
{'name': 'aman', 'age': 21, 'city': 'mumbai'}

In [43]:
# 26 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

l6 = [2,12,3,4,5]
l6.sort()
print(l6)

[2, 3, 4, 5, 12]

In [44]:
# 27 Write a code to create a list with strings and print the element at the third index.

name = ['aman', 'sam', 'john', 'bob']
print(name[2])

john

In [50]:
# 28 Write a code to combine two dictionaries into one and print the result.

dct6 = {"name": "aman" , "age": 21 , "city": "mumbai"}
dct7 = {"surname": "patel" , "number": 1000000002}
combined_dict = {**dct6, **dct7}
print(combined_dict)

{'name': 'aman', 'age': 21, 'city': 'mumbai', 'surname': 'patel', 'number': 1000000002}

In [51]:
# 29 Write a code to convert a list of strings into a set.

lst0 = ['aman', 'sam', 'john', 'bob']
print(set(lst0))

{'bob', 'john', 'sam', 'aman'}